/* @keyframes zoomFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomFadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

.zoom-fade-in {
  animation-name: zoomFadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.zoom-fade-out {
  animation-name: zoomFadeOut;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  visibility: hidden;
} */
